<h1>Create Page</h1>

<% form_for @page, :as => :page, :url => admin_pages_path do |f| %>

<%= render :partial => 'form', :locals => {:f => f} %>

<div class="buttons">
<input type="submit" value="Create" class="button submit" /> | <a href="#cancel" class="close">Cancel</a>
</div>

<% end %>