
<script src="/javascripts/blue/tiny_mce/jquery.tinymce.js"></script>
<h1>
	Edit Global Verbiage
</h1>
<p>Note changes are published immediately on update.</p>

<% form_for @verbiage, :url => "/admin/global_verbiage/#{@verbiage.id}", :method => :put do |f| %>

<%= f.text_area :content, :class => 'tinymce' %>

<div class="buttons">
<input type="submit" value="Update" class="button submit tinymceupdate" /> | <a href="#cancel" class="close">Cancel</a>
</div>

<% end %>

<script>



   $('textarea.tinymce').tinymce({
      script_url : '/javascripts/blue/tiny_mce/tiny_mce.js',
      theme : "advanced",
      theme_advanced_buttons1_add : "separator,forecolor,backcolor,separator,fontselect,fontsizeselect,separator,removeformat",
      theme_advanced_disable : "styleselect",

      width : "630",
      height: "270"

   });
</script>