<h2>Link</h2>


<div id="assets">
	
</div>

<form>
	<input type='hidden' class='wym_dialog_type' value='WYMeditor.DIALOG_LINK' />

	<div>
	<label>Url</label>
	<input type='text' class='wym_href' name="href" value='' size='40' />
	</div>
	
	<div>
		<div>
		<label style="width:auto;">Anchor Name</label>
		<input type='text' class='wym_name' name="name" value='' />
		</div>
	 	<label>Target</label>
	 	<select class='wym_target' name='target'>
			<option value='_self'>Same Window</option>
			<option value='_blank' selected="selected">New Window</option>
		</select>
	</div>

	<div class="buttons">
	<input type="button" value="Create Link" class="button" name="insert"/> | <a href="#" class="cancel">Cancel</a>
	</div>
</form>