<h2><div class="tools"><a href="#" class="close">x close</a></div>Images</h2>

<div id="properties">
	<label for="align">Align: </label><select name="align" class="align">
		<option value="">None</option>
		<option value="left">Left</option>
		<option value="right">Right</option>
	</select>
</div>

<div id="path_breadcrumb">
	<em>Current Folder:</em> <% asset_breadcrumbs "selector" do |folder, url| %>
	/ <%= link_to folder, url, :class => "directory" %>
	<% end %>
</div>

<ul class="assets">
	<% @assets.each do |asset| %>
		<li><% link_to (asset.is_a?(Asset::Image) ? asset.thumbnail_url : asset), :class => asset_css_class(asset) do %>
			<div class="thumbnail"><%= image_tag asset.thumbnail_url %></div><span><%= asset.filename %></span>
			<% end %>
		</li>
	<% end %>
</ul>

