<div class="left_column">
<fieldset>
	<legend>Member Information</legend>
	<p>Please supply a little information about this member</p>
	
	<label for="member_firstname">Name</label>
	<%= f.text_field :firstname %>

	<label for="member_lastname">Firm</label>
	<%= f.text_field :lastname %>

	<label for="member_email">Email</label>
	<%= f.text_field :email %>

</fieldset>

</div>

<div class="right_column">

</div>