<h1>Edit Member</h1>

<% form_for @member, :url => admin_member_path(@member) do |f| %>

<%= render :partial => 'form', :locals => {:f => f} %>

<div class="buttons">
<input type="submit" value="Update" class="button submit" /> | <a href="#cancel" class="close">Cancel</a>
</div>

<% end %>