<h1>
	<span class="tools"><a href="<%= admin_verbiage_comments_url(@verbiage)%>" class="view_comments" id="view_page_verbiage_comments_button">View Comments</a></span>
	Edit Verbiage
</h1>

<% form_for @verbiage, :url => "/admin/verbiage/#{@verbiage.id}", :method => :put do |f| %>

<%= f.text_area :content, :class => 'wymeditor' %>

<div class="buttons">
<input type="submit" value="Update" class="button submit wymupdate" /> | <a href="#cancel" class="close">Cancel</a>
</div>

<% end %>