<fieldset>
	<legend>Permissions</legend>
	<ul class="permissions checkbox">
		<li><%= f.check_box :members_only, :class => "checkbox", :name => "page[members_only]", :id => "page_members_only"  %> <label for="page_members_only">Members Only</label></li>
	</ul>
</fieldset>	