<fieldset>
	<legend>Tags</legend>
	<p>A comma separated list of tags for this page. Add your own or choose from existing tags.</p>
	<textarea name="page[tag_list]" id="page_tag_list"><%= @page.tag_list %></textarea>
	<p><label for="choose-a-tag">Add existing tags</label>
		<select id="choose-a-tag">
			<option></option>
			<% Tag.find(:all, :order => :name).each do |tag| %>
			<option><%= tag.name %></option>
			<% end %>
		</select>
	</p>
	<script type="text/javascript">
		$("#choose-a-tag").change(function(){
			var tag = $(this).val()
			var tag_list = $("#page_tag_list");
			if (tag && tag_list.val().search(new RegExp(tag+'(,|$)', 'i')) < 0) {
				if (tag_list.val().length > 0) {
					tag = ", " + tag;
				}
				tag_list.val(tag_list.val() + tag);
			}
			
			$(this).val("");
		});
	</script>
</fieldset>