<%= javascript_include_tag 'blue/admin/admin_user' %>

<script type="text/javascript" charset="utf-8">
	var form_authenticity_token = "<%= form_authenticity_token %>";
</script>


<h1>
  <% if current_admin_user.has_permission?(:admin_admin_users)%>
	<span class="buttons"><a href="<%= new_admin_admin_user_path %>" class="new new_user" id="new_admin_user_button">Create Admin User</a></span>
	<% end %>
	Admin Users
</h1>

<ul id="admin_users">
	<%= render :partial => 'admin_user', :collection => @admin_users %>
</ul>

<div class="dialog" id="admin_user_dialog"></div>