<h1>Videos</h1>
<ul id="videos">
	<% @videos.each do |video| %>
	<li id="<%= video.lookup %>"><%= image_tag video.thumbnail, :width => 100 %><span class="title"><%= video.title %></span><br /><span class="duration">Duration: <%= video.duration %></a></li>
	<% end %>
</ul>